dialog(
  data-add-wallet-modal-target="modal"
  open="false"
)
  article
    header
      strong Add Wallet
      a(
        href="#close"
        aria-label="Close"
        class="close"
        data-action="add-wallet-modal#close"
        data-turbo="false"
      )
    =link_to 'Import wallet',
             wallets_new_import_path,
             role: 'button',
             class: 'contrast outline',
             'data-action' => 'add-wallet-modal#close',
             style: 'width: 100%; margin-bottom: 10px;'
    =link_to 'Generate wallet',
             wallets_new_generate_path,
             role: 'button',
             class: 'contrast outline',
             'data-action' => 'add-wallet-modal#close',
             style: 'width: 100%'
