div(
  data-controller="add-wallet-modal wallets transaction-modal"
  data-wallets-url-value==exchange_rates_fetch_path
)

  div.grid
    strong class="standart_color h2" Your wallets
    div style="justify-self: end;"
      a(
        data-action="add-wallet-modal#open"
        data-turbo="false"
        role="button"
        href="#"
        class="inlined outline"
      ) +

  =turbo_stream_from current_user, :wallets
  div style="margin-top: 2rem;" id==dom_id(current_user, :wallets)
    - @wallets.each do |wallet|
      = render 'wallet', wallet: wallet

  =render 'add_wallet_modal'
  =render 'transaction_modal', transaction_form: Transactions::PostForm.new
